h1 {
    color: red;

}
.grid-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid-products > div {
    border: 1px solid black; 
}